<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ExpressoTS Starter</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
	<style type="text/css">
		body {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            background: #171717;
            color: #FCFCFC;
            font-family: 'Montserrat','Roboto';
            min-height: 100vh;
            margin: 0px;
            padding: 0px;
        }
		h4 {
			font-size: 30px;
			font-weight: 400;
		}
	</style>
</head>

<body>
	<img src="https://raw.githubusercontent.com/expressots/expressots/main/media/expressots.png" width="120">
<h4>
	{{ message }}
</h4>
</body>

</html>


