<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ExpressoTS Example</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet">
	<style type="text/css">
		body {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			background: #171717;
			color: #FCFCFC;
			font-family: 'Roboto';
		}
		h4 {
			font-size: 20px;
			font-weight: 400;
		}
	</style>
</head>

<body>
	{{{ body }}}
</body>

</html>